page-gerenciando {

  @import url('https://fonts.googleapis.com/css?family=Poppins');
  font-family: 'Poppins';

  .ion-button {
    background-color: #f53d3d;
  }
  .button1 {
    border-radius: 50%;
  }

  .icon {
		padding-right: 5px;
	}

}
