<ion-content>
  <ion-navbar padding>
  <ion-input type="text" required [(ngModel)]="atividade.nome" placeholder="Nova atividade"></ion-input>
  <ion-icon name="ios-create" color="light"></ion-icon>
</ion-navbar>
<div padding>
<ion-item>
<ion-label><ion-icon name="md-calendar" id="icon_menor"></ion-icon>Prazo de entrega</ion-label>
</ion-item>
<ion-item>
<ion-input [min] ="data_atual" type="date" [disabled]="editar" [(ngModel)]="atividade.prazo"></ion-input>
</ion-item>
<ion-item>
  <ion-label id="fonte-checkbox">Criar evento na agenda</ion-label>
  <ion-checkbox [(ngModel)]="atividade.agenda"></ion-checkbox>
</ion-item>
<br>
<ion-item>
<ion-label><ion-icon name="ios-people" id="icon_menor"></ion-icon>Atribuir a...</ion-label></ion-item>
<ion-item>
<ion-input type="text" disabled style="font-size: 0.9em" placeholder="adicionar colaborador"></ion-input>
  <button ion-button clear style="padding-top: 10px; padding-left: 16px; padding-bottom: 16px" item-right>
    <ion-icon name="add" ></ion-icon>
  </button>
</ion-item>
<ion-item>
<button ion-button clear item-right (click)="criarAtividade()">Criar Atividade</button>
</ion-item>
</div>
</ion-content>

