
<ion-header>

    <ion-navbar>
      <ion-title>Notificações</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
      <ion-searchbar (ionInput)="getNotificacoes($event)" *ngIf="notificacoes != null && !notificacoes.isEmpty" ></ion-searchbar>
      <button ion-button small clear *ngIf="notificacoes != null && !notificacoes.isEmpty" (click)=" limparNotificacoes()">Apagar Notificações</button>      
      <ion-card *ngFor="let notificacao of notificacoes | async" (press)="limparNotificacao(notificacao)" (click)="visualizarCard(notificacao)">
          <ion-card-content *ngIf="notificacao.seen == true">
              <ion-avatar>
                  <img [src]="getImgSource(notificacao.type)">
                </ion-avatar>
                {{notificacao.message}}
          </ion-card-content>
          <ion-card-content *ngIf="notificacao.seen == false" style="background-color:#f4f4f4">
            <ion-avatar>
                <img [src]="getImgSource(notificacao.type)">
              </ion-avatar>
              {{notificacao.message}}
        </ion-card-content>
        </ion-card>
  </ion-content>
  