<ion-content>
  <ion-navbar>
    <div>
      <button ion-button small clear *ngIf="editar==true" (click)="editar=false" id="button_right">EDITAR</button>
      <br>
      <ion-avatar>
        <img [src]="novo_usuario.img">
      </ion-avatar>
      <button ion-button small *ngIf="editar==false" (click)="tirarFoto()" round outline icon-start id="button_navbar">
          <ion-icon name="ios-camera"></ion-icon>Câmera</button>
        <br>
        <button ion-button small *ngIf="editar==false" (click)="encontrarFoto()" round outline icon-start id="button_navbar">
          <ion-icon name="ios-image"></ion-icon>Galeria</button>

      <ion-input id="input_navbar" autocomplete="on" [(ngModel)]="novo_usuario.nome" type="text" [disabled]="editar" [value]="usuario.nome"></ion-input>

    </div>
  </ion-navbar>
  <div padding>
    <ion-item>
      <ion-label stacked>Cargo: </ion-label>
      <ion-textarea autocomplete="on" [(ngModel)]="novo_usuario.cargo" type="text" [disabled]="editar" [value]="usuario.cargo"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Cidade: </ion-label>
      <ion-input autocomplete="on" [(ngModel)]="novo_usuario.cidade" [disabled]="editar" type="text" [value]="usuario.cidade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>País:</ion-label>
      <ion-input autocomplete="on" [(ngModel)]="novo_usuario.pais" type="text" [disabled]="editar" [value]="usuario.pais"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Telefone:</ion-label>
      <ion-input autocomplete="on" [(ngModel)]="novo_usuario.telefone" type="tel" [disabled]="editar" [value]="usuario.telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email:</ion-label>
      <ion-input [(ngModel)]="novo_usuario.email" disabled type="email" [value]="usuario.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Bio:</ion-label>
      <ion-textarea autocomplete="on" [(ngModel)]="novo_usuario.bio" type="text" [disabled]="editar" [value]="usuario.bio"></ion-textarea>
    </ion-item>
    <div padding>
      <button *ngIf="editar==false" ion-button outline (click)="salvar()" padding>SALVAR</button>
      <button *ngIf="editar==false" ion-button outline (click)="cancelar()">CANCELAR</button>
    </div>
  </div>
</ion-content>