<ion-content>
  <ion-navbar>
    <div>
      <br>
      <ion-avatar>
        <img src="assets/imgs/img_padrao_projeto.png">
      </ion-avatar>
      <button ion-button small (click)="tirarFoto()" round outline icon-start id="button_navbar">
        <ion-icon name="ios-camera"></ion-icon>Câmera</button>
      <br>
      <button ion-button small (click)="encontrarFoto()" round outline icon-start id="button_navbar">
        <ion-icon name="ios-image"></ion-icon>Galeria</button>
      <div *ngIf="(usuario | async) || {} as usuario">
        <ion-input id="input_navbar" autocomplete="on" placeholder="{{usuario.name}}" type="text"></ion-input>
      </div>

    </div>
  </ion-navbar>
  <ion-content padding>
    <form [formGroup]="novo_usuario">
      <div *ngIf="(usuario | async) || {} as usuario">


        <ion-item>
          <ion-label>Nome</ion-label>
          <ion-input type="text" placeholder="{{usuario.name}}" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Cargo</ion-label>
          <ion-input type="text" placeholder="{{usuario.occupation}}" formControlName="occupation"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Cidade</ion-label>
          <ion-input type="text" placeholder="{{usuario.city}}" formControlName="city"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>País</ion-label>
          <ion-input type="text" placeholder="{{usuario.country}}" formControlName="country"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Telefone</ion-label>
          <ion-input type="text" placeholder="{{usuario.phone}}" formControlName="phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>E-Mail</ion-label>
          <ion-input type="text" readonly=true placeholder="{{usuario.email}}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Bio</ion-label>
          <ion-textarea type="text" placeholder="{{usuario.bio}}" formControlName="bio"></ion-textarea>
        </ion-item>
      </div>

      <ion-buttons>
        <button ion-button (click)="salvar()" [disabled]="!novo_usuario.valid" full>Salvar</button>
        <button ion-button color="danger" (click)="cancelar()" full>Cancelar</button>
      </ion-buttons>
    </form>

  </ion-content>
</ion-content>