.toolbar-title{
    font-size: 1.7rem;
}
.toolbar-background{
    background-color: color($colors, cor_azul1, base);
}
.toolbar-title {
    color: color($colors, light, base);
}
.alert .alert-message, .alert .alert-input-group {
    color: color($colors, cor_azul2, base);
    padding: 0 20px 20px;
}
h2 {
    color: color($colors, cor_azul1, base);
}
.alert .alert-title {
    font-size: 20px;
}
.searchbar-wp .searchbar-input-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.alert .alert-button {
    color: color($colors, cor_azul1, base);
}
.tabs .tabbar {
    background: color($colors, cor_azul1, base);
}
.tabs-wp .tab-button[aria-selected="true"] {
    border-bottom-color:color($colors, cor_verde1, base);
    color: color($colors, cor_verde1, base);
}
.tabs-md[tabsHighlight="true"] .tab-highlight {
    background: color($colors, cor_verde1, base);
}
.tabs[tabsLayout="icon-hide"] .tab-button, .tabs[tabsLayout="title-hide"] .tab-button, .tabs .tab-button.icon-only, .tabs .tab-button.has-title-only {
    padding: 0 0px;
}
.tabs .tab-button {
    color:color($colors, light, base);
}
.item-wp.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .text-input, .item-wp.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .text-input {
    border-color:color($colors, light, base);
}
.tabs-ios[tabsLayout="icon-hide"] .tab-button .tab-button-text, .tabs-ios .tab-button.has-title-only .tab-button-text {
    font-size: 1.0rem;
}

.tabs .tab-button[aria-selected="true"] {
    color: color($colors, cor_azul2, base);
}

.tabs [tabsHighlight="true"] .tab-highlight {
    background:color($colors, cor_azul2, base);

}
.button-outline{
    color: color($colors, cor_azul1, base);
    border-color: color($colors, cor_azul1, base);
}
.button-round {
    padding: 0 0.6rem;
}
.text-input[disabled] {
    opacity: 100;
    color: color($colors, cor_azul1, base);
}
.button-clear {
    color: color($colors, cor_azul1, base);  
}
.text-input{
    font-size: 0.95em;
}
.item-input .label, .item-select .label, .item-datetime .label {
    font-weight: bold;
    color:color($colors, cor_verde1, base);
}
.item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color:color($colors,light, base);
    -webkit-box-shadow: inset 0 0px 0;
}
.tabs .tab-button-text {
    font-size: 1.1rem;
}
.fab{
    color:color($colors,light, base);
    background-color:color($colors, cor_azul1, base);
}
.fab.activated {
    color:color($colors,light, base);
    background-color:color($colors, cor_verde1, base);
} 
.card{
    background:color($colors, cor_verde2, base);
}
.card-content {
    font-size: 1.2rem;
}
.alert .alert-sub-title {
    font-size: 14px;
    color:color($colors, cor_verde2, base);
}
.alert-sub-title {
    margin: 1px 0 0
}
.alert .alert-button {
    color:color($colors, cor_azul2, base);
    margin: 0 1px 0 0;
    font-weight: 400;
}
.searchbar .searchbar-input {
    padding: 6px 55px;
    font-size: 1.3rem;
    color:color($colors, cor_azul1, base);
}
.searchbar-wp .searchbar-input {
    padding: 1.7px 20px;
    color:color($colors, cor_azul1, base);
}

.searchbar-ios {
    padding: 0 8px;
    min-height: 44px;
    border-top: 0.05px solid transparent;
    border-bottom: 0.05px solid color($colors, cor_cinza, base);
    background:color($colors, light, base);
}

.item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #fff;
    -webkit-box-shadow: inset 0 0px 0;
}
.item.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #dedede;
}

.text-input-wp {
    border: 0px solid rgba(0, 0, 0, 0.5);
}